@tailwind base;
@tailwind components;
@tailwind utilities;
/* Light mode styles */
body {
    background-color: #ffffff;
}

/* Dark mode styles */
.dark body {
    background-color: #1a202c; /* Example dark background */
    color: #f7fafc;
}
